<div class="container-fluid mt10">
	<div class="bg-clr-aliceblue">
		<div ng-click=goBackToList() class="col-sm-1 cur-ptr pad5">
			<i class="fa fa-arrow-left fs24"></i> Back To List
		</div>
	</div>
	
</div>
<div class="container mt-10" ng-if="!isShowQuizzersList">
		<div class="row">
			<div class="col-sm-4 form-group"></div>
			<div class="col-sm-4 form-group">
				<label for="password" class="col-sm-12 control-label">Enter Password</label>
				<div class="col-sm-12">
					<input ng-model="login.password" type="password" class="form-control"
						id="password" placeholder="Enter Password">
				</div>

				<div class="padlr15">
					<div class="bg-danger alert col-sm-12 mt10"
						ng-if="isShowQuizzersListClicked && !login.password">Password is
						required.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<button ng-click="showQuizzersList()" type="submit"
					class="btn btn-primary btn-lg btn-block">
					Show Quizzers List
				</button>
			</div>
		</div>
</div>
<div class="container mt10" ng-if="isShowQuizzersList">
	<div class="row">
		<div class="col-sm-4 form-group">
			<label class="col-sm-12 control-label"><strong>Quiz
					Name:</strong> {{quiz.name}}</label>
		</div>
		<div class="col-sm-4 form-group pad0">
			<label class="col-sm-12 control-label"><strong>Quiz
					Creator:</strong> {{quiz.email}}</label>
		</div>
		<div class="col-sm-4 form-group">
			<label class="col-sm-21 control-label"><strong>Quiz
					Category:</strong> {{quiz.category}}</label>
		</div>
	</div>
	<table ng-if="answers.length > 0" class="table table-striped">
		<thead>
			<tr>
				<th>Email</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="answer in answers"
				ng-click="showQuizzerAnswer(quiz.id, answer.id)">
				<td>{{answer.email}}</td>
				<td>{{answer.score}}</td>
			</tr>
		</tbody>
	</table>
</div>